*.pdf
literature/readme.txt
figure/**
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.idx
*.ind
*.lof
*.log
*.lot
*.Ridx
*.run.xml
*.swp
*.synctex.gz
*.synctex
*.toc
*.tcp
.Rhistory
*.Rproj
.Rproj.user/**
/tmp/
*.xcuserstate
.DS_Store
documentation/work_protocol.md
